/* Vertically align each person's image, name, and affiliation */
.personContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 8px;
		margin-bottom: 20px;
}
@import "../globalStyle.scss";

.peopleWrapper {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 10px;
	justify-items: center;
	margin-top: 20px;
}

@include mobile {
	.peopleWrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.titleWrapper {
	margin-top: 20px;
}